
.main_container{
    width: 30%;
    margin:auto ;
    background-color: rgb(109, 109, 109);
   height: auto;
  padding: 10px;
}
.input_box{
  margin-top: 10px;
    padding: 11px ;
    margin-left: 10px;
   width: 300px;
    border-radius: 5px;

}
.submit_btn,.delete_btn{
    padding: 10px 20px;
      border: none;
    background-color: brown;
   border-radius: 5px;
   color: white;
   font-size: 18px;
   margin: 10px;
}
.div_box{
  
     color:white;
     
}

.div_box>div{
    background-color: rgb(18, 27, 9);
    padding: 10px;
    margin: 10px;
    color: white;
    display: flex;
    justify-content:space-between ;
  

}
.div_box>div>span>button{
    padding: 5px 10px;
    border: none;
  background-color: brown;
 border-radius: 5px;
 color: white;
 font-size: 16px;
}

.main_container>p{
  font-size: 25px;
  margin: auto;
  text-align: center;
  border-bottom:1px solid white;
  padding: 10px;
  
}